<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .completed {
        text-decoration: line-through;
        opacity: 0.6;
      }
    </style>
  </head>
  <body style="margin: 0">
    <div
      id="app"
      :style="{backgroundImage: 'url(' + image + ')', height: '100vh', backgroundPosition: 'center', backgroundSize: 'cover'}"
    >
      <select v-model="status">
        <option value="all">All</option>
        <option value="active">Active</option>
        <option value="completed">Completed</option>
      </select>
      <input type="text" v-model="newTodo" @keyup.enter="addTodo" />
      <button @click="addTodo">Add</button>
      <button @click="deleteTodo">Delete</button>
      <li
        v-for="todo in computedTodosByStatus"
        :class="{completed: todo.completed}"
        :key="todo.id"
      >
        <input type="checkbox" v-model="todo.completed" />
        {{todo.title}}
      </li>
      <span>{{status}}</span>
      <span v-text="status"></span>
      <span v-html="tag"></span>
      <span v-if="true">Hi</span>
      <span v-if="false">Hi</span>
      <span v-show="false">Hi</span>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const STORAGE_KEY = "vue-todo";
      const todoStorage = {
        save: function (todos) {
          localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
        },
        fetch: function () {
          return JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
        },
      };

      const app = new Vue({
        el: "#app",
        data: {
          image: "",
          newTodo: "",
          status: "all",
          todos: [],
          tag: "<h1>Hi</h1>",
        },
        methods: {
          check(todo) {
            todo.completed = !todo.completed;
          },
          addTodo() {
            if (this.newTodo) {
              this.todos.push({
                id: this.todos.length + 1,
                title: this.newTodo,
                completed: false,
              });
              this.newTodo = "";
            }
          },
          deleteTodo() {
            this.todos = this.todos.filter((todo) => todo.completed === false);
          },
        },
        computed: {
          computedTodosByStatus: function () {
            let statusTodos = [];

            if (this.status === "completed") {
              statusTodos = this.todos.filter((todo) => {
                return todo.completed === true;
              });
            } else if (this.status === "active") {
              statusTodos = this.todos.filter((todo) => {
                return todo.completed === false;
              });
            } else {
              statusTodos = this.todos;
            }
            return statusTodos;
          },
        },
        watch: {
          todos: {
            handler: function (todos) {
              todoStorage.save(todos);
            },
            deep: true,
          },
        },
        mounted: function () {
          this.todos = todoStorage.fetch();
          const IMG_URL = "https://source.unsplash.com/random/1920x1080/?cat";
          axios
            .get(IMG_URL)
            .then((res) => {
              this.image = res.request.responseURL;
            })
            .catch((error) => {});
        },
      });
    </script>
  </body>
</html>
