<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .completed {
      text-decoration: line-through;
      opacity: 0.6;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">  <!-- binding -->
    <button v-on:click="addTodo">add!!!</button>
    <button v-on:click="deleteTodo">delete!!!</button>
    <li v-for="todo in todos" v-bind:class="{completed: todo.completed}">
      <input type="checkbox" v-model="todo.completed">
      {{todo.title}}
    </li>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue ({
      el: '#app',
      data: {
        newTodo: '',
        todos: [
          {
            title: 'sleeping',
            completed: false
          },
          {
            title: 'extra-sleeping',
            completed: false
          },
          {
            title: 'ultra-hyper-sleeping',
            completed: true
          },
        ],
      },
      methods: {
        check (todo) {
          todo.completed = !todo.completed
        },
        addTodo () {
          if (this.newTodo) {
            this.todos.push({
              title: this.newTodo,
              completed: false
            })
            this.newTodo = ''
          }
        },
        deleteTodo () {
          this.todos = this.todos.filter(todo => todo.completed === false)
        }
      }
    })
  </script>
</body>
</html>